*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}


.container{
    margin: auto;
    display: flex;
    flex-direction: row;   
}

.container form{
     width: 350px;
     padding: 30px;
     height: 250px;
     border: 1px solid red;
     color: wheat;
     border-radius: 10px;
     margin: 20px;
}

.container form input{
               padding: 10px 20px;
               display: block;
               width: 100%;
               margin: 15px 0;
               outline: none;
               border: 1px solid blue;
               border-radius: 10px;
}

label{
    color: #111;
}
input[type=submit]{
    background: indigo;
    color: #fff;
}

#show{
    width: 450px;
    padding: 30px;
}

.newData{
      padding: 10px 20px;
      text-align: center;
      color: #111;
      margin: 10px 0;
      border: 1px solid #111;
}

.newData button,button{
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
       background: indigo;
       color: white;
       border: 1px solid white;
       margin-left:10px;
       cursor: pointer;
}

span{
    color: red;
}